services:
  - type: web
    name: ecommerce-api-v2
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: ohio
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false  
      - key: PORT
        value: "10000"
      - key: CORS_ORIGINS
        value: "http://localhost:3000,https://pruebafrontend-ea20.onrender.com"
      - key: RENDER
        value: "true"
      - key: PYTHONUNBUFFERED
        value: "1"
    healthCheckPath: /health
    autoDeploy: true