services:
  - type: web
    name: ecommerce-api
    env: python
    region: ohio
    plan: free
    buildCommand: |
      pip install --upgrade pip &&
      pip install -r requirements.txt &&
      echo "✅ Build complete"
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: ecommerce_db_sbeb
          property: connectionString
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: PYTHONUNBUFFERED
        value: 1
      - key: PORT
        value: 10000
      - key: CORS_ORIGINS
        value: https://pruebafrontend-ea20.onrender.com,http://localhost:5173
      - key: DEBUG
        value: "false"
      - key: ENABLE_DOCS
        value: "true"
      - key: LOG_LEVEL
        value: INFO
    healthCheckPath: /health_check  # Asegúrate de que este endpoint exista en tu app
    autoDeploy: true
