services:
  - type: web
    name: ecommerce-fastapi-final
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: ohio
    plan: free
    envVars:
      - key: DATABASE_URL
        value: "postgresql://ecommerce_db_pg18_user:8wj5MwKBGSfrK3ZG6vADvjT5pkc4ai7u@dpg-d4riokmr433s73a9vb70-a.ohio-postgres.render.com/ecommerce_db_pg18"
      - key: CORS_ORIGINS
        value: "http://localhost:3000,https://pruebafrontend-ea20.onrender.com"
      - key: PORT
        value: "10000"
    healthCheckPath: /health
    autoDeploy: true