services:
  - type: web
    name: ecommerce-fastapi-final
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    region: ohio
    plan: free
    envVars:
      - key: DATABASE_URL
        value: "postgresql://ecommerce_user:UNxrz1fhXoP4UO05SuhemYYFs9xVDOtR@dpg-d5g0in6mcj7s7398mk00-a.ohio-postgres.render.com/ecommerce_db_p8ry"
      - key: CORS_ORIGINS
        value: "http://localhost:3000,https://pruebafrontend-ea20.onrender.com"
      - key: PORT
        value: "10000"
    healthCheckPath: /health
    autoDeploy: true